html{
    max-width: 100vh;
    margin: auto;
}
body{
    font-size: 2vh;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #85797993; /* Set a background color */
    opacity: 50%;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 3vh; /* Increase font size */
    width: 8vh;
    height: 8vh;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

@media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]:after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  html {
    font-size: 12px;
  }
  
  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 48rem) {
    html {
      font-size: 16px;
    }
  }
  
  body {
    line-height: 1.85;
  }
  
  p,
  .splendor-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }
  
  h1,
  .splendor-h1,
  h2,
  .splendor-h2,
  h3,
  .splendor-h3,
  h4,
  .splendor-h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }
  
  h1,
  .splendor-h1 {
    margin-top: 0;
    font-size: 3.998rem;
  }
  
  h2,
  .splendor-h2 {
    font-size: 2.827rem;
  }
  
  h3,
  .splendor-h3 {
    font-size: 1.999rem;
  }
  
  h4,
  .splendor-h4 {
    font-size: 1.414rem;
  }
  
  h5,
  .splendor-h5 {
    font-size: 1.121rem;
  }
  
  h6,
  .splendor-h6 {
    font-size: .88rem;
  }
  
  small,
  .splendor-small {
    font-size: .707em;
  }
  
  /* https://github.com/mrmrs/fluidity */
  
  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Merriweather:300italic,300);
  
  html {
    font-size: 18px;
    max-width: 100%;
  }
  
  body {
    color: #444;
    font-family: 'Merriweather', Georgia, serif;
    margin: 0;
    max-width: 100%;
  }
  
  /* === A bit of a gross hack so we can have bleeding divs/blockquotes. */
  
  p,
  *:not(code):not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
    margin: 1rem auto 1rem;
    max-width: 36rem;
    padding: .25rem;
  }
  
  div {
    width: 100%;
  }
  
  /* div img {
    width: 100%;
  } */
  
  blockquote p {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem auto 1rem;
    max-width: 48rem;
  }
  
  li {
    margin-left: 2rem;
  }
  
  /* Counteract the specificity of the gross *:not() chain. */
  
  h1 {
    padding: 4rem 0 !important;
  }
  
  /*  === End gross hack */
  
  p {
    color: #555;
    height: auto;
    line-height: 1.45;
  }
  
  /* pre,
  code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  } */
  
  pre {
    background-color: #fafafa;
    font-size: .8rem;
    overflow-x: scroll;
    padding: 1.125em;
  }
  
  a,
  a:visited {
    color: #3498db;
  }
  
  a:hover,
  a:focus,
  a:active {
    color: #2980b9;
  }
  
  
  /* ---------------------------? */
  
  
  pre,pre.prettyprint {
    text-align: start;
    border: 0;
    border-radius: unset;
    word-break: break-all;
  
  }
  
  pre code,pre.prettyprint code {
    padding: 1.3em 2em !important
  }
  
  pre.prettyprint.with-line-number {
    position: relative
  }
  
  pre.prettyprint.with-line-number code {
    padding-left: 3.3em !important
  }
  
   pre.prettyprint.with-line-number .hljs-comment.line-number {
    min-width: 2.2em;
    display: inline-block;
    text-align: right;
    opacity: .8;
    position: absolute;
    left: .3em
  }
  
  pre.prettyprint {
    padding: 0;
    border: 0
  }
  
  pre {
    word-break: break-word
  }
   /*
  p,pre,pre.prettyprint,blockquote {
    margin: 0 0 1.1em
  } */
  
  /* code,pre {
    font-family: "Source Code Pro",monospace;
    font-size: .9em
  } */
  
  code {
    white-space: normal
  }
  
  pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.45;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: rgba(102,128,153,0.05);
    border: 1px solid rgba(102,128,153,0.075);
    border-radius: 4px
  }
  
  .icon-provider-stackedit {
    background-position: 0 0
  }
  
  .icon-provider-gdrive,.icon-provider-gdrivesec,.icon-provider-gdriveter {
    background-position: -18px 0
  }
  
  .icon-provider-dropbox {
    background-position: -37px 0
  }
  
  .icon-provider-github,.icon-provider-gist {
    background-position: -54px 0
  }
  
  .icon-provider-blogger,.icon-provider-bloggerpage {
    background-position: -72px 0
  }
  
  .icon-provider-tumblr {
    background-position: -90px 0
  }
  
  .icon-provider-wordpress {
    background-position: -108px 0
  }
  
  .icon-provider-ssh {
    background-position: -126px 0
  }
  
  .icon-provider-gplus {
    background-position: -144px 0
  }
  
  .icon-provider-couchdb {
    background-position: -162px 0
  }
  
  body.rtl #wmd-input,body.rtl #preview-contents,body.rtl .input-file-title,body.rtl .search-bar input,body.rtl .modal-document-manager input,body.rtl .comments-popover,body.rtl .container {
    direction: rtl
  }
  
  .MathJax_SVG_Display {
    text-align: center;
    margin: 1em 0;
    position: relative;
    display: block !important;
    text-indent: 0;
    max-width: none;
    max-height: none;
    min-width: 0;
    min-height: 0;
    width: 100%
  }
  
  .MathJax_SVG {
    display: inline;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 100%;
    font-size-adjust: none;
    text-indent: 0;
    text-align: left;
    text-transform: none;
    letter-spacing: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    float: none;
    direction: ltr;
    max-width: none;
    max-height: none;
    min-width: 0;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    margin-bottom: 0;
  }
  
  .hljs-light .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8
  }
  
  .hljs-light .hljs-comment,.hljs-light .hljs-quote {
    color: #998;
    font-style: italic
  }
  
  .hljs-light .hljs-keyword,.hljs-light .hljs-selector-tag,.hljs-light .hljs-subst {
    color: #333;
    font-weight: bold
  }
  
  .hljs-light .hljs-number,.hljs-light .hljs-literal,.hljs-light .hljs-variable,.hljs-light .hljs-template-variable,.hljs-light .hljs-tag .hljs-attr {
    color: #008080
  }
  
  .hljs-light .hljs-string,.hljs-light .hljs-doctag {
    color: #d14
  }
  
  .hljs-light .hljs-title,.hljs-light .hljs-section,.hljs-light .hljs-selector-id {
    color: #900;
    font-weight: bold
  }
  
  .hljs-light .hljs-subst {
    font-weight: normal
  }
  
  .hljs-light .hljs-type,.hljs-light .hljs-class .hljs-title {
    color: #458;
    font-weight: bold
  }
  
  .hljs-light .hljs-tag,.hljs-light .hljs-name,.hljs-light .hljs-attribute {
    color: #000080;
    font-weight: normal
  }
  
  .hljs-light .hljs-regexp,.hljs-light .hljs-link {
    color: #009926
  }
  
  .hljs-light .hljs-symbol,.hljs-light .hljs-bullet {
    color: #990073
  }
  
  .hljs-light .hljs-built_in,.hljs-light .hljs-builtin-name {
    color: #0086b3
  }
  
  .hljs-light .hljs-meta {
    color: #999;
    font-weight: bold
  }
  
  .hljs-light .hljs-deletion {
    background: #fdd
  }
  
  .hljs-light .hljs-addition {
    background: #dfd
  }
  
  .hljs-light .hljs-emphasis {
    font-style: italic
  }
  
  .hljs-light .hljs-strong {
    font-weight: bold
  }
  
  .hljs-dark {
    background: #f6f6f6
  }
  
  .hljs-dark .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #23241f
  }
  
  .hljs-dark .hljs,.hljs-dark .hljs-tag,.hljs-dark .hljs-subst {
    color: #f8f8f2
  }
  
  .hljs-dark .hljs-strong,.hljs-dark .hljs-emphasis {
    color: #a8a8a2
  }
  
  .hljs-dark .hljs-bullet,.hljs-dark .hljs-quote,.hljs-dark .hljs-number,.hljs-dark .hljs-regexp,.hljs-dark .hljs-literal,.hljs-dark .hljs-link {
    color: #ae81ff
  }
  
  .hljs-dark .hljs-code,.hljs-dark .hljs-title,.hljs-dark .hljs-section,.hljs-dark .hljs-selector-class {
    color: #a6e22e
  }
  
  .hljs-dark .hljs-strong {
    font-weight: bold
  }
  
  .hljs-dark .hljs-emphasis {
    font-style: italic
  }
  
  .hljs-dark .hljs-keyword,.hljs-dark .hljs-selector-tag,.hljs-dark .hljs-name,.hljs-dark .hljs-attr {
    color: #f92672
  }
  
  .hljs-dark .hljs-symbol,.hljs-dark .hljs-attribute {
    color: #66d9ef
  }
  
  .hljs-dark .hljs-params,.hljs-dark .hljs-class .hljs-title {
    color: #f8f8f2
  }
  
  .hljs-dark .hljs-string,.hljs-dark .hljs-type,.hljs-dark .hljs-built_in,.hljs-dark .hljs-builtin-name,.hljs-dark .hljs-selector-id,.hljs-dark .hljs-selector-attr,.hljs-dark .hljs-selector-pseudo,.hljs-dark .hljs-addition,.hljs-dark .hljs-variable,.hljs-dark .hljs-template-variable {
    color: #e6db74
  }
  
  .hljs-dark .hljs-comment,.hljs-dark .hljs-deletion,.hljs-dark .hljs-meta {
    color: #75715e
  }
  
  .hljs-dark .hljs,.hljs-dark .hljs-tag,.hljs-dark .css .hljs-rules,.hljs-dark .css .hljs-value,.hljs-dark .css .hljs-function .hljs-preprocessor,.hljs-dark .hljs-pragma {
    color: #f8f8f2
  }
  
  .hljs-dark .hljs-strongemphasis,.hljs-dark .hljs-strong,.hljs-dark .hljs-emphasis {
    color: #a8a8a2
  }
  
  .hljs-dark .hljs-bullet,.hljs-dark .hljs-blockquote,.hljs-dark .hljs-horizontal_rule,.hljs-dark .hljs-number,.hljs-dark .hljs-regexp,.hljs-dark .alias .hljs-keyword,.hljs-dark .hljs-literal,.hljs-dark .hljs-hexcolor {
    color: #ae81ff
  }
  
  .hljs-dark .hljs-tag .hljs-value,.hljs-dark .hljs-code,.hljs-dark .hljs-title,.hljs-dark .css .hljs-class,.hljs-dark .hljs-class .hljs-title:last-child {
    color: #a6e22e
  }
  
  .hljs-dark .hljs-link_url {
    font-size: 80%
  }
  
  .hljs-dark .hljs-strong,.hljs-dark .hljs-strongemphasis {
    font-weight: bold
  }
  
  .hljs-dark .hljs-emphasis,.hljs-dark .hljs-strongemphasis,.hljs-dark .hljs-class .hljs-title:last-child {
    font-style: italic
  }
  
  .hljs-dark .hljs-keyword,.hljs-dark .hljs-function,.hljs-dark .hljs-change,.hljs-dark .hljs-winutils,.hljs-dark .hljs-flow,.hljs-dark .lisp .hljs-title,.hljs-dark .clojure .hljs-built_in,.hljs-dark .nginx .hljs-title,.hljs-dark .tex .hljs-special,.hljs-dark .hljs-header,.hljs-dark .hljs-attribute,.hljs-dark .hljs-symbol,.hljs-dark .hljs-symbol .hljs-string,.hljs-dark .hljs-tag .hljs-title,.hljs-dark .hljs-value,.hljs-dark .alias .hljs-keyword:first-child,.hljs-dark .css .hljs-tag,.hljs-dark .css .unit,.hljs-dark .css .hljs-important {
    color: #f92672
  }
  
  .hljs-dark .hljs-function .hljs-keyword,.hljs-dark .hljs-class .hljs-keyword:first-child,.hljs-dark .hljs-constant,.hljs-dark .css .hljs-attribute {
    color: #66d9ef
  }
  
  .hljs-dark .hljs-variable,.hljs-dark .hljs-params,.hljs-dark .hljs-class .hljs-title {
    color: #f8f8f2
  }
  
  .hljs-dark .hljs-string,.hljs-dark .css .hljs-id,.hljs-dark .hljs-subst,.hljs-dark .haskell .hljs-type,.hljs-dark .ruby .hljs-class .hljs-parent,.hljs-dark .hljs-built_in,.hljs-dark .sql .hljs-aggregate,.hljs-dark .django .hljs-template_tag,.hljs-dark .django .hljs-variable,.hljs-dark .smalltalk .hljs-class,.hljs-dark .django .hljs-filter .hljs-argument,.hljs-dark .smalltalk .hljs-localvars,.hljs-dark .smalltalk .hljs-array,.hljs-dark .hljs-attr_selector,.hljs-dark .hljs-pseudo,.hljs-dark .hljs-addition,.hljs-dark .hljs-stream,.hljs-dark .hljs-envvar,.hljs-dark .apache .hljs-tag,.hljs-dark .apache .hljs-cbracket,.hljs-dark .tex .hljs-command,.hljs-dark .hljs-prompt,.hljs-dark .hljs-link_label,.hljs-dark .hljs-link_url {
    color: #e6db74
  }
  
  .hljs-dark .hljs-comment,.hljs-dark .hljs-javadoc,.hljs-dark .java .hljs-annotation,.hljs-dark .python .hljs-decorator,.hljs-dark .hljs-template_comment,.hljs-dark .hljs-pi,.hljs-dark .hljs-doctype,.hljs-dark .hljs-deletion,.hljs-dark .hljs-shebang,.hljs-dark .apache .hljs-sqbracket,.hljs-dark .tex .hljs-formula {
    color: #75715e
  }
  
  .hljs-dark .coffeescript .javascript,.hljs-dark .javascript .xml,.hljs-dark .tex .hljs-formula,.hljs-dark .xml .javascript,.hljs-dark .xml .vbscript,.hljs-dark .xml .css,.hljs-dark .xml .hljs-cdata,.hljs-dark .xml .php,.hljs-dark .php .xml {
    opacity: .5
  }
  
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .hljs-line {
    min-height: 1.5em;
    white-space:pre;
  }
  
  
  
  table {
      max-width: 100%;
      background-color: transparent
  }
  
  th {
      text-align: left
  }
  
  .table {
      width: 100%;
      margin-bottom: 21px
  }
  
  .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
      padding: 8px;
      line-height: 1.45;
      vertical-align: top;
      border-top: 1px solid #ddd
  }
  
  .table>thead>tr>th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd
  }
  
  .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
      border-top: 0
  }
  
  .table>tbody+tbody {
      border-top: 2px solid #ddd
  }
  
  .table .table {
      background-color: none
  }
  
  .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
      padding: 5px
  }
  
  .table-bordered {
      border: 1px solid #ddd
  }
  
  .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
      border: 1px solid #ddd
  }
  
  .table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
      border-bottom-width: 2px
  }
  
  .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
      background-color: #f9f9f9
  }
  
  .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
      background-color: #f5f5f5
  }
  
  table col[class*="col-"] {
      position: static;
      float: none;
      display: table-column
  }
  
  table td[class*="col-"], table th[class*="col-"] {
      float: none;
      display: table-cell
  }
  
  .table>thead>tr>.active, .table>tbody>tr>.active, .table>tfoot>tr>.active, .table>thead>.active>td, .table>tbody>.active>td, .table>tfoot>.active>td, .table>thead>.active>th, .table>tbody>.active>th, .table>tfoot>.active>th {
      background-color: #f5f5f5
  }
  
  .table-hover>tbody>tr>.active:hover, .table-hover>tbody>.active:hover>td, .table-hover>tbody>.active:hover>th {
      background-color: #e8e8e8
  }
  
  .table>thead>tr>.success, .table>tbody>tr>.success, .table>tfoot>tr>.success, .table>thead>.success>td, .table>tbody>.success>td, .table>tfoot>.success>td, .table>thead>.success>th, .table>tbody>.success>th, .table>tfoot>.success>th {
      background-color: #dff0d8
  }
  
  .table-hover>tbody>tr>.success:hover, .table-hover>tbody>.success:hover>td, .table-hover>tbody>.success:hover>th {
      background-color: #d0e9c6
  }
  
  .table>thead>tr>.danger, .table>tbody>tr>.danger, .table>tfoot>tr>.danger, .table>thead>.danger>td, .table>tbody>.danger>td, .table>tfoot>.danger>td, .table>thead>.danger>th, .table>tbody>.danger>th, .table>tfoot>.danger>th {
      background-color: rgba(232, 76, 61, 0.1)
  }
  
  .table-hover>tbody>tr>.danger:hover, .table-hover>tbody>.danger:hover>td, .table-hover>tbody>.danger:hover>th {
      background-color: rgba(229, 55, 38, 0.1)
  }
  
  .table>thead>tr>.warning, .table>tbody>tr>.warning, .table>tfoot>tr>.warning, .table>thead>.warning>td, .table>tbody>.warning>td, .table>tfoot>.warning>td, .table>thead>.warning>th, .table>tbody>.warning>th, .table>tfoot>.warning>th {
      background-color: rgba(255, 209, 0, 0.12)
  }
  
  .table-hover>tbody>tr>.warning:hover, .table-hover>tbody>.warning:hover>td, .table-hover>tbody>.warning:hover>th {
      background-color: rgba(230, 188, 0, 0.12)
  }
  
  @media (max-width:767px) {
      .table-responsive {
          width: 100%;
          margin-bottom: 15.75px;
          overflow-y: hidden;
          overflow-x: scroll;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          border: 1px solid #ddd;
          -webkit-overflow-scrolling: touch
      }
      .table-responsive>.table {
          margin-bottom: 0
      }
      .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td {
          white-space: nowrap
      }
      .table-responsive>.table-bordered {
          border: 0
      }
      .table-responsive>.table-bordered>thead>tr>th:first-child, .table-responsive>.table-bordered>tbody>tr>th:first-child, .table-responsive>.table-bordered>tfoot>tr>th:first-child, .table-responsive>.table-bordered>thead>tr>td:first-child, .table-responsive>.table-bordered>tbody>tr>td:first-child, .table-responsive>.table-bordered>tfoot>tr>td:first-child {
          border-left: 0
      }
      .table-responsive>.table-bordered>thead>tr>th:last-child, .table-responsive>.table-bordered>tbody>tr>th:last-child, .table-responsive>.table-bordered>tfoot>tr>th:last-child, .table-responsive>.table-bordered>thead>tr>td:last-child, .table-responsive>.table-bordered>tbody>tr>td:last-child, .table-responsive>.table-bordered>tfoot>tr>td:last-child {
          border-right: 0
      }
      .table-responsive>.table-bordered>tbody>tr:last-child>th, .table-responsive>.table-bordered>tfoot>tr:last-child>th, .table-responsive>.table-bordered>tbody>tr:last-child>td, .table-responsive>.table-bordered>tfoot>tr:last-child>td {
          border-bottom: 0
      }
  }
  /* 
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
  }
  
  a code {
    color: inherit
  }
  
  pre code,pre.prettyprint code {
    padding: 1.3em 2em !important
  } */
  
  code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
  }
  
  /* code,kbd,pre,samp {
    font-family: "Source Code Pro",monospace
  } */
  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #2c3f51;
    background-color: rgba(102,128,153,0.075);
    white-space: nowrap;
    border-radius: 4px
  }
  
  pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.45;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: rgba(102,128,153,0.05);
    border: 1px solid rgba(102,128,153,0.075);
    border-radius: 4px
  }
  
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
  }