@charset "utf-8"; 

body, div, ul, li{
	margin:0; 
	padding:0;
	font-style: normal;
	font:12px/22px "\5B8B\4F53",Arial, Helvetica, sans-serif} 

ol, ul ,li{
	list-style:none} 

img {border: 0; vertical-align:middle} 

body{
	color:#000000;
	background:#FFF; 
	text-align:center} 
a{
	text-decoration: none;
	font-weight: bold;
	font-family: georgia;}

ul#nav{ 
	width:60;
	height:60px; 
	background:#fff;
	margin:0 auto} 

ul#nav li{
	display:inline; 
	height:60px} 

ul#nav li a{
	display:inline-block;
	padding:0 20px; 
	height:60px; 
	line-height:60px; 
	color: #7b7e84; 
	font-size:16px} 

ul#nav>li>a#name{
	padding:0 20px; 
	height:60px; 
	line-height:60px;
	color:#7b7e84; 
	font-size:30px} 

ul#nav li a:hover{

	color: #cec8c8;} 

div#contact-bar{
	align-items: center;
	padding: 200px;
}
div#contact{
	display: inline-block;
	padding: 13px;
}

div#contact-bar>img{
	opacity: 0.5;	
}

div#contact-bar>img:hover{
	opacity: 1;	
}

